<script>
export default {
    components: {

    },
    data: function() {
        return {
            hideFull: false,
            hideEmpty: false,
            searchInput: "",
            lastRefreshTime: 0
        };
    },
    computed: {
        totalServers: function() {
            //return this.
        },
        isRefreshing: function() {
            //return this.
        },
    },
    methods: {
        refreshServers: function() {
            if (Date.now() - this.lastRefreshTime > 5 * 1000) {
                this.lastRefreshTime = Date.now();
            }
        },
    },
};
</script>

<template>
    <div class="servers active">
        <h1>{{$t("servers.title")}}</h1>
        <div class="info">
            <p>{{$t("servers.infoplayers")}}: 0</p>
            <p>{{$t("servers.infoservers")}}: 0</p>
        </div>
        <div class="content">
            <div class="filters">
                <div class="search">
                    <input autocomplete="off" name="search" v-bind:placeholder="$t('servers.search')" spellcheck="false" type="text">
                </div>
                <div class="option">
                    <input id="filter_full" name="full" type="checkbox" v-model="hideFull" />
                    <label for="filter_full">{{$t("servers.filter_hide_full")}}</label>
                </div>
                <div class="option">
                    <input id="filter_empty" name="empty" type="checkbox" v-model="hideEmpty" />
                    <label for="filter_empty">{{$t("servers.filter_hide_empty")}}</label>
                </div>
                <a class="update" @click="refreshServers">
                    <i class="ic-clockwise"></i> {{$t("servers.filter_refresh")}}
                </a>
            </div>
            <div class="serverlist">
                <div class="header">
                    <div class="section servername">
                        {{$t("servers.table_name")}}
                    </div>
                    <div class="section players">
                        {{$t("servers.table_players")}}
                    </div>
                    <div class="section gamemode">
                        {{$t("servers.table_gamemode")}}
                    </div>
                    <div class="section ping">
                        {{$t("servers.table_ping")}}
                    </div>
                    <div class="section website">
                        Discord
                    </div>
                </div>
                <div class="wrapper">
                    <table>
                        <tbody>
                            <tr>
                                <td class="servername">Test server</td>
                                <td class="players">0 <span>/ 128</span></td>
                                <td class="gamemode">Survival</td>
                                <td class="ping">32</td>
                                <td class="website">https://discord.gg/</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>