<template>
    <div class="settings">
        <h1>{{$t("settings.title")}}</h1>
        <div class="content">
            <div class="item">
                <h2>{{$t("settings.language_title")}}</h2>
                <div class="langs">
                    <a v-for="entry in languages" :id="'lang-' + entry.language" class="option" @click="changeLocale(entry.language)">
                        <country-flag :country="entry.flag" size="big" />
                        <span>{{entry.name}}</span>
                    </a>
                </div>
            </div>
            <div class="item nickname">
                <h2>{{$t("settings.nickname_title")}}</h2>
                <input type="text" name="nickname" autocomplete="off" spellcheck="false" v-bind:placeholder="$t('settings.nickname_placeholder')">
            </div>
            <div class="item game">
                <h2>{{$t("settings.gamesettings_title")}}</h2>
                <span>{{$t("settings.gamesettings_zoom")}} ({{currentZoom}})</span>
                <input v-model="currentZoom" type="range" id="zoom" min="-2" value="0" max="3">
            </div>
        </div>
    </div>
</template>

<script>
//
import i18n from '../languages/index';
export default {
    data() {
        return {
            currentZoom: 0,
            languages: [
                {
                    flag: "us",
                    language: "en",
                    name: "English"
                },
                {
                    flag: "pl",
                    language: "pl",
                    name: "Polski"
                },
                {
                    flag: "ru",
                    language: "ru",
                    name: "русский"
                }
            ]
        };
    },
    methods: {
        changeLocale(locale) {
            i18n.locale = locale;
        }
    }
}
</script>