<script>
import Vue from 'vue';
const modalComponent = Vue.component('modal', {
    template: '#mdlRenderer',
    props: ['title', 'details'],
    data: function() {
        return {
            modalActive: false
        }
    },
    methods: {
        close() {
            this.modalActive = false;
        }
    }
});
export default modalComponent;
</script>

<template>
    <div class="modal" v-bind:class="{active: modalActive}" id="mdlRenderer">
        <div class="content">
            <a class="close" @click="close">
                <i class="ic-cross"></i>
            </a>
            <h1>{{title}}</h1>
            <div class="details">
                <div class="defs">
                    {{details}}
                </div>
            </div>
        </div>
    </div>
</template>